@import "tailwindcss";

:root {
  --background: rgb(7, 10, 18);
  --background-light: rgb(13, 20, 34);
  --foreground: rgb(247, 248, 252);
  --main-border: rgb(32, 44, 66);
  --main-border-active: rgb(52, 66, 91);
  --nav-color: rgb(103, 116, 138);
  --nav-color-active: rgb(156, 168, 189);
  --app-dark-blue: rgb(23, 34, 56);
  --app-purple: rgb(168, 107, 255);
  --app-light-green: rgb(82, 217, 154);
  --app-green: rgb(40, 200, 64);
  --app-light-red: rgb(255, 107, 129);
  --app-red: rgb(255, 95, 87);
  --app-yellow: rgb(255, 189, 46);
  --app-cyan: rgb(80, 207, 247)
}

@theme inline {
  --color-atlas-background: var(--background);
  --color-atlas-background-light: var(--background-light);
  --color-atlas-foreground: var(--foreground);
  --color-atlas-main-border: var(--main-border);
  --color-atlas-main-border-active: var(--main-border-active);
  --color-top-nav-color: var(--nav-color);
  --color-top-nav-color-active: var(--nav-color-active);
  --color-main-text: var(--nav-color);
  --color-main-text-active: var(--nav-color-active);
  --color-app-dark-blue: var(--app-dark-blue);
  --color-app-purple: var(--app-purple);
  --color-app-light-green: var(--app-light-green);
  --color-app-green: var(--app-green);
  --color-app-light-red: var(--app-light-red);
  --color-app-red: var(--app-red);
  --color-app-yellow: var(--app-yellow);
  --color-app-cyan: var(--app-cyan);


  --font-inter: var(--font-var-inter);
  --font-jet-mono: var(--font-var-jet-mono);
}

@utility demo-table-grid {
  display: grid;
  grid-template-columns: 16px 1fr 72px 48px 36px;
}

@utility demo-table-grid-observe {
  display: grid;
  grid-template-columns: 16px 1fr 72px 44px;
}

@utility linear-width003 {
  transition: "width 0.03s linear"
}

@utility cursor-animation {
  animation: blink 1.1s step-end infinite
}

@keyframes blink {

  0%,
  100% {
    opacity: 1
  }

  50% {
    opacity: 0
  }
}

@utility pulse-green-dot {
  animation: 2s ease 0s infinite normal none running pulse-green-dot-animation;
}

@keyframes pulse-green-dot-animation {
  0% {
    background: var(--app-light-green);
  }

  50% {
    background: color-mix(in srgb, var(--app-light-green) 40%, transparent);
  }

  100% {
    background: var(--app-light-green);
  }
}

@utility node-pulse {
  animation: node-pulse-animation 2s ease-in-out infinite;
}

@keyframes dash-flow-animation {
  from {
    stroke-dashoffset: 24
  }

  to {
    stroke-dashoffset: 0
  }
}

@keyframes node-pulse-animation {

  0%,
  100% {
    opacity: 0.5
  }

  50% {
    opacity: 0.15
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter;
}